@charset "UTF-8";

@media (max-width: 799px) {

    

    header{
        background-image: url(../imagens/head-p.png);
        margin: auto;
        width: 400px;
    }

    h1 {
        font-size: 5em;
        margin-bottom: 30px;
    }

    p#slogan {
        font-size: 1.4em;
    }

    main {
        width: 400px; 
        margin: auto;
    }

    section#album {
        padding-left: 116px;
        padding-top: 25px;
    }

    section#album p {
        margin-left: -111px;
        width: 246px;
    }
    div#comprimido.carrossel {
        margin: 0px 50px 50px -60px;
    }

    .carrossel {
        width: 100%;
        max-width: 500px;
        overflow: hidden;
        margin: auto 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    
    .carrossel .slides {
        display: flex;
        transition: transform 0.8s ease-in-out;
        width: 100%;
    }
    
    .carrossel .album {
        min-width: 100%;
        height: auto;
        transform: rotate(0deg);
        border: none;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }

    aside#reniciar {
        right: 5px;
        top: 5px;
    }

    section#emocional img {
        height: 350px;
        margin-left:  -90px;
    }

    #emocional p {
        font-size: 1em;
        margin: -26px 25px 0px -194px;
        padding: 41px 36px 142px 46px;
    }

    section#logico img {
        height: 375px;
        margin: 50px;
        margin-left: -184px;
    }

    #logico p {
        font-size: 1em;
        margin: 0px -15px -80px -160px;
        padding: 35px 22px 30px 22px;
        border-radius: 25% 50px;
        position: relative;
        z-index: 1000px;
    }

    section#racional img {
        height: 350px;
        margin-left: -160px;
    }

    #racional p {
        font-size: 1em;
        padding: 45px 23px 280px 24px;
        margin: -37px -25px 6px -261px;
        border-radius: 40px 25%;
    }

    section#faq {
        width: 325px;
    }

    
    section#faq h2 {
        font-size: 2 em;
        text-align: center;
        padding: 0px;
        margin: 0px;
        display: block;
    }

    footer {
        font-size: 1em;
        margin: auto;
        width: 300px;
    }

}